* {
    margin: 0px;
}

#content {
    margin: 0 auto;
    height: 600px;
    border: 1px transparent solid;
    background-image:url( ../images/index.jpg );
    background-size: 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#box {
    position: relative;
    margin: 120px auto;
    width: 30%;
    height: 360px;
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    border: 2px #fff solid;
}

#box:hover {
    border: 2px #fff solid;
}

.input {
    margin-top: 50px;
}

input {
    margin-top: 15px;
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 13px 14px;
    width: 70%;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}

button {
    margin-top: 30px;
    border: none;
    color: #000;
    padding: 15px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    background-color: #CCCCCC;
}
button:hover{
    background-color: #658af1;
    color: #fff;
}